.im-scrollbar-and-news-container{
        display: flex;
        width: 100%;
        height: 35rem;
        justify-content: space-between;
}
       
.main-scrollbar{
    width: 70%;
    border: 0.1rem solid lightgrey;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.main-scrollbar::-webkit-scrollbar{
    height: 0.8rem;
}

.main-scrollbar::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 0.5rem;
}

.main-scrollbar::-webkit-scrollbar-track{
    background-color: lightgrey;
    box-shadow: inset 0.1rem 0.1rem 0.5rem grey;
    border-radius: 0.5rem;
}
.latest-News{
    padding: 1% 0;
    width: 29.8%;
    border: 0.1rem solid lightgrey;
    display: flex;
    flex-flow: column;
    overflow-y:scroll;
}


                
.main-scrollbar > div{
    width: 100%;
    scroll-snap-align: center;
    flex-shrink:0;
}



@media(max-width: 768px){
    .im-scrollbar-and-news-container{
        flex-flow: column;
        height: 40%;
        justify-content: center;
        align-items: center;
    }
    .im-scrollbar-and-news-container > div{
        width: 99%;
    }
    .latest-News{
        height: 30rem;
        margin: 1rem 0;
    }
}